.radio {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.radio:last-child {
    padding-bottom: 15px;
}

.radio__icon {
    padding: 3px;
    margin: 4px 5px 4px 0;
    width: 12px;
    height: 12px;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.radio__icon--selected {
    padding: 3px;
    margin: 4px 5px 4px 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.radio__icon__fill {
    background-color: #fff;
    transition: .5s ease;
}

.radio__icon__fill--selected {
    display: block;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
    background-color: #fda380;
    transition: .5s ease;
}

.radio__input {
    display: none;
}
