.app {
  text-align: left;
}

.app__body {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

h1, h2, h3, p {
  margin: 0px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
