.app {
  text-align: left;
  min-height: 100vh;
  width: 100vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.app__body {
  position: absolute;
  top: 30%;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

h1, h2, h3, p {
  margin: 0px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 160px) {
  .app__body {
    width: 98%;
  }
  h2 {
    font-size: 14px;
  }
}
