.display-box {
    border: 1px solid #bbb;
    border-radius: 5px;
}

.display-box__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.display-box__title__icon {
  transform: rotate(0deg);
  transition: .5s ease;
}

.display-box__title__icon--up {
  color: #fda380;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: .5s ease;
}
